<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_internetradioclock"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- main activity -->
        <activity
            android:name=".activity.ClockActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Settings activity -->
        <activity
            android:name=".activity.ConfigureButtonsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preferences"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preferences"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.NightProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preferences"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="About"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.CheersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Cheers"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.StreamFinderActivity"
            android:label="@string/title_activity_stream_finder"
            android:parentActivityName=".activity.ClockActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.antiprotv.radioclock.activity.ClockActivity" />
        </activity>
    </application>

</manifest>